In [8]:
# Import required librairies
import warnings
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as pyplot
# Remove warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [9]:
#Reading the csv file
df = pd.read_csv('mexico-real-estate.csv')
#look at the first 5 cells
df.head(5)

,created_on,operation,property_type,place_name,place_with_parent_names,geonames_id,lat-lon,price,currency,price_aprox_local_currency,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,2013-09-19,rent,house,Playa del Carmen,|México|Quintana Roo|Solidaridad|Playa del Car...,NaN,"20.612709,-87.102987",NaN,NaN,NaN,...,250.0,NaN,NaN,NaN,NaN,NaN,http://playa-del-carmen-playa-del-carmen.prope...,Referencia #55546. Hermosa casa en el barrio C...,Casa en Alquiler. Ref. #55546. 3 Dormitorios. ...,https://thumbs-cf.properati.com/1/dLISoi0WStzf...
1,2013-09-19,rent,apartment,Nuevo Centro Urbano,|México|Quintana Roo|Solidaridad|Playa del Car...,NaN,"20.626679,-87.075944",2200.0,USD,41378.70,...,110.0,20.000000,20.000000,NaN,NaN,NaN,http://nuevo-centro-urbano.properati.com.mx/o4...,Referencia #27985. Ático completamente amuebla...,Departamento en Alquiler. Ref. #27985. 2 Dormi...,https://thumbs-cf.properati.com/9/-DZ0FUVqgAnA...
2,2013-09-19,rent,apartment,Nuevo Centro Urbano,|México|Quintana Roo|Solidaridad|Playa del Car...,NaN,"20.626729,-87.075858",19000.0,ARS,23546.17,...,110.0,11.380818,172.727273,NaN,NaN,NaN,http://nuevo-centro-urbano.properati.com.mx/o5...,Referencia #27996. Departamento completamente ...,Departamento en Alquiler. Ref. #27996. 2 Dormi...,https://thumbs-cf.properati.com/4/dyZjLPbRTuui...
3,2013-09-19,rent,apartment,Nuevo Centro Urbano,|México|Quintana Roo|Solidaridad|Playa del Car...,NaN,"20.630104,-87.072484",10000.0,ARS,12392.73,...,65.0,10.136769,153.846154,NaN,NaN,NaN,http://nuevo-centro-urbano.properati.com.mx/ob...,Referencia #29065. Departamento perfecto para ...,Departamento en Alquiler. Ref. #29065. 1 Dormi...,https://thumbs-cf.properati.com/0/2tp0o2qIaZia...
4,2013-09-19,rent,store,Playa del Carmen,|México|Quintana Roo|Solidaridad|Playa del Car...,NaN,"20.635424,-87.077995",30000.0,ARS,37178.19,...,250.0,7.906680,120.000000,NaN,NaN,NaN,http://playa-del-carmen-playa-del-carmen.prope...,Referencia #29386. Ubicado en uno de los princ...,Local en Alquiler. Ref. #29386. 250 m2. Local ...,https://thumbs-cf.properati.com/2/5L2Y9_OYAxNL...

In [10]:

#view the last cells
df.tail()

,created_on,operation,property_type,place_name,place_with_parent_names,geonames_id,lat-lon,price,currency,price_aprox_local_currency,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
37592,2016-10-31,rent,store,Guadalajara,|México|Jalisco|Guadalajara|,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://guadalajara-jalisco.properati.com.mx/re...,Se traspasa local comercial en Plaza Punto Rub...,Local comercial en renta en Lomas de Providenc...,https://thumbs-cf.properati.com/8/ohfd_7uoQSNy...
37593,2016-10-31,rent,apartment,San Pedro Garza García,|México|Nuevo León|San Pedro Garza García|,NaN,"25.628453,-100.365488",14500.0,MXN,14368.75,...,100.0,NaN,145.000000,NaN,NaN,NaN,http://san-pedro-garza-garcia.properati.com.mx...,Nocnok ID: MX16-BW5320. departamento en el pis...,Departamento en Renta en Valle de San Angel,https://thumbs-cf.properati.com/0/TIH9HHSOQoju...
37594,2016-10-31,rent,apartment,Benito Juárez,|México|Distrito Federal|Benito Juárez|,NaN,NaN,15000.0,MXN,14864.16,...,78.0,7.747941,192.307692,NaN,NaN,NaN,http://benito-juarez.properati.com.mx/re4r_ren...,"<p>Del Valle Norte. Departamento de 78 m2, ext...","Departamento 78 m2, exterior, en 3er piso, co...",NaN
37595,2016-10-31,rent,apartment,Benito Juárez,|México|Distrito Federal|Benito Juárez|,NaN,"19.394358,-99.177444",18000.0,MXN,17837.04,...,97.0,NaN,185.567010,NaN,NaN,NaN,http://benito-juarez.properati.com.mx/re50_ren...,"<p>HERMOSO DEPARTAMENTO 3 RECAMARAS, 2 ESTACIO...",IMPECABLE DEPARTAMENTO COL. NAPOLES DISTRITO F...,https://thumbs-cf.properati.com/5/9sKH0jroF8wA...
37596,2016-10-31,rent,apartment,Monterrey,|México|Nuevo León|Monterrey|,NaN,"25.6318402,-100.2801781",18000.0,MXN,17837.04,...,0.0,NaN,NaN,NaN,NaN,NaN,http://monterrey-nuevo-leon.properati.com.mx/r...,<p> Excelente departamento en renta sobre aven...,DEPARTAMENTO EN RENTA EN MICROPOLIS MONTERREY,https://thumbs-cf.properati.com/4/LqbLb1KmjuXb...

In [11]:
#Gives you information about the data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37597 entries, 0 to 37596
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   created_on                  37597 non-null  object
 1   operation                   37597 non-null  object
 2   property_type               37597 non-null  object
 3   place_name                  37597 non-null  object
 4   place_with_parent_names     37597 non-null  object
 5   geonames_id                 0 non-null      float64
 6   lat-lon                     31835 non-null  object
 7   price                       36525 non-null  float64
 8   currency                    36525 non-null  object
 9   price_aprox_local_currency  36525 non-null  float64
 10  price_aprox_usd             36525 non-null  float64
 11  surface_total_in_m2         23151 non-null  float64
 12  surface_covered_in_m2       36084 non-null  float64
 13  price_usd_per_m2            14828 non-null  float64
 14  price_per_m2                30071 non-null  float64
 15  floor                       4174 non-null   float64
 16  rooms                       1245 non-null   float64
 17  expenses                    57 non-null     float64
 18  properati_url               37597 non-null  object
 19  description                 37597 non-null  object
 20  title                       37597 non-null  object
 21  image_thumbnail             36450 non-null  object
dtypes: float64(11), object(11)
memory usage: 6.3+ MB

In [12]:
#gives columns and rows available

df.shape

#Find length of the dataframe
len(df)

37597

In [13]:
df.shape

(37597, 22)

In [14]:
#gives you description of numerical variables
df.describe()

,geonames_id,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,0.0,3.652500e+04,3.652500e+04,36525.000000,23151.000000,36084.000000,14828.000000,30071.000000,4174.000000,1245.000000,57.000000
mean,NaN,2.045150e+04,2.401479e+04,1276.805686,364.516133,265.611712,6.475197,241.127655,3.425731,2.640964,1199.350877
std,NaN,4.490340e+04,5.446808e+04,2895.929004,2443.918011,6108.449844,18.691082,1929.047048,28.681249,1.073845,1527.892614
min,NaN,5.000000e+01,9.404200e+02,50.000000,-200.000000,0.000000,-606.035000,0.008000,1.000000,1.000000,1.000000
25%,NaN,7.000000e+03,7.927590e+03,421.490000,0.000000,59.000000,2.634937,57.500000,2.000000,2.000000,240.000000
50%,NaN,1.300000e+04,1.387653e+04,737.780000,100.000000,120.000000,4.566067,88.235294,2.000000,3.000000,800.000000
75%,NaN,2.250000e+04,2.477380e+04,1317.160000,240.000000,230.000000,7.641350,145.833333,2.000000,3.000000,1650.000000
max,NaN,1.850000e+06,1.833264e+06,97469.990000,185130.000000,1000000.000000,1867.207895,150000.000000,1136.000000,14.000000,9000.000000

In [15]:
#Conditional Selection
#Return a dataframe that satifies the provided boolean expression --> df["property_type"]== "apartment"
#Getting places that are only apartments

df = df[df["property_type"] == "apartment"]
#You can use len to check if the dataset reduced according to the condition set in the line above
len(df)

12671

In [16]:
cdfme = df[df["property_type"] == "apartment"]

In [17]:
df

,created_on,operation,property_type,place_name,place_with_parent_names,geonames_id,lat-lon,price,currency,price_aprox_local_currency,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
1,2013-09-19,rent,apartment,Nuevo Centro Urbano,|México|Quintana Roo|Solidaridad|Playa del Car...,NaN,"20.626679,-87.075944",2200.0,USD,41378.70,...,110.0,20.000000,20.000000,NaN,NaN,NaN,http://nuevo-centro-urbano.properati.com.mx/o4...,Referencia #27985. Ático completamente amuebla...,Departamento en Alquiler. Ref. #27985. 2 Dormi...,https://thumbs-cf.properati.com/9/-DZ0FUVqgAnA...
2,2013-09-19,rent,apartment,Nuevo Centro Urbano,|México|Quintana Roo|Solidaridad|Playa del Car...,NaN,"20.626729,-87.075858",19000.0,ARS,23546.17,...,110.0,11.380818,172.727273,NaN,NaN,NaN,http://nuevo-centro-urbano.properati.com.mx/o5...,Referencia #27996. Departamento completamente ...,Departamento en Alquiler. Ref. #27996. 2 Dormi...,https://thumbs-cf.properati.com/4/dyZjLPbRTuui...
3,2013-09-19,rent,apartment,Nuevo Centro Urbano,|México|Quintana Roo|Solidaridad|Playa del Car...,NaN,"20.630104,-87.072484",10000.0,ARS,12392.73,...,65.0,10.136769,153.846154,NaN,NaN,NaN,http://nuevo-centro-urbano.properati.com.mx/ob...,Referencia #29065. Departamento perfecto para ...,Departamento en Alquiler. Ref. #29065. 1 Dormi...,https://thumbs-cf.properati.com/0/2tp0o2qIaZia...
5,2013-09-19,rent,apartment,Playa del Carmen,|México|Quintana Roo|Solidaridad|Playa del Car...,NaN,"20.630296,-87.072695",12000.0,ARS,14871.31,...,90.0,8.785222,133.333333,NaN,NaN,NaN,http://playa-del-carmen-playa-del-carmen.prope...,Referencia #30621. En el centro de Playa del C...,Departamento en Alquiler. Ref. #30621. 2 Dormi...,https://thumbs-cf.properati.com/5/5CDhlOFw-NNj...
6,2013-09-19,rent,apartment,Playa del Carmen,|México|Quintana Roo|Solidaridad|Playa del Car...,NaN,"20.628296,-87.072637",8500.0,ARS,10533.70,...,77.0,7.273377,110.389610,NaN,NaN,NaN,http://playa-del-carmen-playa-del-carmen.prope...,Referencia #31118. En el corazón de la Riviera...,Departamento en Alquiler. Ref. #31118. 2 Dormi...,https://thumbs-cf.properati.com/9/rRjYVurvNdBO...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37585,2016-10-31,rent,apartment,Miguel Hidalgo,|México|Distrito Federal|Miguel Hidalgo|,NaN,"19.4546644,-99.1860716",11000.0,MXN,10902.91,...,57.0,NaN,192.982456,NaN,NaN,NaN,http://miguel-hidalgo-df.properati.com.mx/rdzd...,"<p>Excelente departamento para estrenar, muy b...",Golfo de San Jorge,https://thumbs-cf.properati.com/8/3lMAUAMqrPGX...
37593,2016-10-31,rent,apartment,San Pedro Garza García,|México|Nuevo León|San Pedro Garza García|,NaN,"25.628453,-100.365488",14500.0,MXN,14368.75,...,100.0,NaN,145.000000,NaN,NaN,NaN,http://san-pedro-garza-garcia.properati.com.mx...,Nocnok ID: MX16-BW5320. departamento en el pis...,Departamento en Renta en Valle de San Angel,https://thumbs-cf.properati.com/0/TIH9HHSOQoju...
37594,2016-10-31,rent,apartment,Benito Juárez,|México|Distrito Federal|Benito Juárez|,NaN,NaN,15000.0,MXN,14864.16,...,78.0,7.747941,192.307692,NaN,NaN,NaN,http://benito-juarez.properati.com.mx/re4r_ren...,"<p>Del Valle Norte. Departamento de 78 m2, ext...","Departamento 78 m2, exterior, en 3er piso, co...",NaN
37595,2016-10-31,rent,apartment,Benito Juárez,|México|Distrito Federal|Benito Juárez|,NaN,"19.394358,-99.177444",18000.0,MXN,17837.04,...,97.0,NaN,185.567010,NaN,NaN,NaN,http://benito-juarez.properati.com.mx/re50_ren...,"<p>HERMOSO DEPARTAMENTO 3 RECAMARAS, 2 ESTACIO...",IMPECABLE DEPARTAMENTO COL. NAPOLES DISTRITO F...,https://thumbs-cf.properati.com/5/9sKH0jroF8wA...
37596,2016-10-31,rent,apartment,Monterrey,|México|Nuevo León|Monterrey|,NaN,"25.6318402,-100.2801781",18000.0,MXN,17837.04,...,0.0,NaN,NaN,NaN,NaN,NaN,http://monterrey-nuevo-leon.properati.com.mx/r...,<p> Excelente departamento en renta sobre aven...,DEPARTAMENTO EN RENTA EN MICROPOLIS MONTERREY,https://thumbs-cf.properati.com/4/LqbLb1KmjuXb...

In [18]:
#Removing apartments that cost morethan $50,000
#the underscore _ in 50_000 simply represents a comma, because comma gives an error
df = df[df["price_aprox_usd"] < 50_000]

In [19]:
#using multiple conditions in a single statement

mask_apr = df["property_type"] == "apartment"
mask_district = df["place_with_parent_names"].str.contains("Quintana Roo")
mask_price = df["price_aprox_usd"]<50_000
new_df = df[mask_apr & mask_district & mask_price]
len(new_df)

965

In [20]:
#splitting in python
#Here we are splitting the string at the @ character and getting the second string.
"coolo@gmail.com".split("@")[1]

'gmail.com'

In [22]:
# Split "lat-lon" Column
# expand creates two columns from result(List).
# astype casts from a string to float .
df[["lat","lon"]]=df["lat-lon"].str.split(",",expand=True).astype(float)
# Drop the lat-lon column 
# inplace drops the column form the original dataset
df.drop(columns="lat-lon",inplace=True)

KeyError: 'lat-lon'

In [24]:
#check if the lat-lon column was dropped
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12539 entries, 1 to 37596
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   created_on                  12539 non-null  object
 1   operation                   12539 non-null  object
 2   property_type               12539 non-null  object
 3   place_name                  12539 non-null  object
 4   place_with_parent_names     12539 non-null  object
 5   geonames_id                 0 non-null      float64
 6   price                       12539 non-null  float64
 7   currency                    12539 non-null  object
 8   price_aprox_local_currency  12539 non-null  float64
 9   price_aprox_usd             12539 non-null  float64
 10  surface_total_in_m2         7357 non-null   float64
 11  surface_covered_in_m2       11954 non-null  float64
 12  price_usd_per_m2            3739 non-null   float64
 13  price_per_m2                10172 non-null  float64
 14  floor                       35 non-null     float64
 15  rooms                       662 non-null    float64
 16  expenses                    27 non-null     float64
 17  properati_url               12539 non-null  object
 18  description                 12539 non-null  object
 19  title                       12539 non-null  object
 20  image_thumbnail             12121 non-null  object
 21  lat                         10751 non-null  float64
 22  lon                         10751 non-null  float64
dtypes: float64(13), object(10)
memory usage: 2.3+ MB

In [ ]:
#find the sum of null values
df.isnull().sum()

#if a data set has more than 50% of its values as null, then we                                                                       we delete it.

In [26]:
#Dropping columns that have more than 50% of their values as null
df.isnull().sum()/len(df)

created_on                    0.000000
operation                     0.000000
property_type                 0.000000
place_name                    0.000000
place_with_parent_names       0.000000
geonames_id                   1.000000
price                         0.000000
currency                      0.000000
price_aprox_local_currency    0.000000
price_aprox_usd               0.000000
surface_total_in_m2           0.413271
surface_covered_in_m2         0.046654
price_usd_per_m2              0.701810
price_per_m2                  0.188771
floor                         0.997209
rooms                         0.947205
expenses                      0.997847
properati_url                 0.000000
description                   0.000000
title                         0.000000
image_thumbnail               0.033336
lat                           0.142595
lon                           0.142595
dtype: float64

In [28]:
df.drop(columns=['price_usd_per_m2','floor','expenses','geoname_id','rooms'],inplace=True)
df.info()

KeyError: "['geoname_id'] not found in axis"

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12539 entries, 1 to 37596
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   created_on                  12539 non-null  object
 1   operation                   12539 non-null  object
 2   property_type               12539 non-null  object
 3   place_name                  12539 non-null  object
 4   place_with_parent_names     12539 non-null  object
 5   geonames_id                 0 non-null      float64
 6   price                       12539 non-null  float64
 7   currency                    12539 non-null  object
 8   price_aprox_local_currency  12539 non-null  float64
 9   price_aprox_usd             12539 non-null  float64
 10  surface_total_in_m2         7357 non-null   float64
 11  surface_covered_in_m2       11954 non-null  float64
 12  price_usd_per_m2            3739 non-null   float64
 13  price_per_m2                10172 non-null  float64
 14  floor                       35 non-null     float64
 15  rooms                       662 non-null    float64
 16  expenses                    27 non-null     float64
 17  properati_url               12539 non-null  object
 18  description                 12539 non-null  object
 19  title                       12539 non-null  object
 20  image_thumbnail             12121 non-null  object
 21  lat                         10751 non-null  float64
 22  lon                         10751 non-null  float64
dtypes: float64(13), object(10)
memory usage: 2.3+ MB

#finding Low and high cardinal features
df.select_dtypes("object").nunique()

In [31]:
#Dropping low and high cardinal features
df.drop(columns=["operation","properati_url","image_thumbnail","title","property_type","created_on"],inplace=True)

/tmp/ipykernel_5958/2157976709.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["operation","properati_url","image_thumbnail","title","property_type","created_on"],inplace=True)

In [32]:
#Dropping the leaky values
#Leaky variables have a link to the target variable--->derived from another variable. eg you cant find price_perm2 witout

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12539 entries, 1 to 37596
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   place_name                  12539 non-null  object
 1   place_with_parent_names     12539 non-null  object
 2   geonames_id                 0 non-null      float64
 3   price                       12539 non-null  float64
 4   currency                    12539 non-null  object
 5   price_aprox_local_currency  12539 non-null  float64
 6   price_aprox_usd             12539 non-null  float64
 7   surface_total_in_m2         7357 non-null   float64
 8   surface_covered_in_m2       11954 non-null  float64
 9   price_usd_per_m2            3739 non-null   float64
 10  price_per_m2                10172 non-null  float64
 11  floor                       35 non-null     float64
 12  rooms                       662 non-null    float64
 13  expenses                    27 non-null     float64
 14  description                 12539 non-null  object
 15  lat                         10751 non-null  float64
 16  lon                         10751 non-null  float64
dtypes: float64(13), object(4)
memory usage: 1.7+ MB

In [33]:
df.drop(columns=["surface_total_in_m2","price_per_m2","surface_covered_in_m2","price_aprox_usd","price_aprox_local_currency"],inplace=True)

/tmp/ipykernel_5958/2671258695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["surface_total_in_m2","price_per_m2","surface_covered_in_m2","price_aprox_usd","price_aprox_local_currency"],inplace=True)

In [34]:
#Dropping columns with multiple collineality
corr = df.select_dtypes("number").drop(columns="price_aprox_usd").corr()

KeyError: "['price_aprox_usd'] not found in axis"

In [35]:
corr

NameError: name 'corr' is not defined